@using Microsoft.AspNet.Identity
@model Factoring.Web.Funcionalidades.ListarEmpresa.FiltrarEmpresaViewModel

<h2>Lista de Empresas</h2>

<p>
    @Html.ActionLink("Nueva Empresa", "Registrar", new { CoUser = User.MostrarNombre() })
</p>
@using (Ajax.BeginForm("VerEmpresas", "Empresa",
                                                    new AjaxOptions
                                                    {
                                                        HttpMethod = "Get",
                                                        InsertionMode = InsertionMode.Replace,
                                                        UpdateTargetId = "ResultadoFiltro",

                                                    },
                                                    new
                                                    {
                                                        id = "FiltrarEmpresa",
                                                        @class = "form-inline"
                                                    }
                                                    ))
{ }
<div id="ResultadoFiltro">
  
    @Html.Partial("_EmpresasEncontradas", Model.Empresas)
    
</div>



@section Scripts{
    @Scripts.Render("~/bundles/unobtrusiveajax")
}
